.loader {
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-animation: load8 1.1s infinite linear;
    margin: 0 auto;
    animation: load8 1.1s infinite linear;
}

.loader.small {
    font-size: 5px;
}

.loader.green {
    border-top: 1.1em solid rgba(144, 206, 144,0.2);
    border-right: 1.1em solid rgba(144, 206, 144,0.2);
    border-bottom: 1.1em solid rgba(144, 206, 144,0.2);
    border-left: 1.1em solid rgba(144, 206, 144, 0.88);
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}