color = #566576;


.button
    height 42px
    font-size 16px
    min-width 150px
    outline none !important
    border 3px solid color
    background #fff
    border-radius 0
    color color
    cursor pointer
    display block

    &:hover
        background-color rgba(74, 187, 231, 0.5)
    &:active
        background-color: #fff
