block-color = rgba(26,26,26,0.61)
.mc_content
    &--block
        box-shadow 0px 3px 7px rgba(26,26,26,0.51)
        margin-top 15px
        margin-bottom 15px
        height 176px
        border 1px solid block-color
        overflow hidden

    &--header
        position relative
        background block-color
        height 44px
        padding 10px
        color #fff

    &--status
        width 15px
        height 15px
        top 14px
        border-radius 100%
        background #D94C4C
        position absolute
        right 10px
        &-active
            background #90CE90

    &--body
        background #fff
        position relative
        height 130px
        overflow hidden

    &--loader_wrapper
        padding 34px
        height 100%

    &--body_wrapper
        height 100%

    &--relay_switcher
        margin 38px auto 0 auto

    &--body_text
        display block
        width 100%
        color #566576
        height 100%
        text-align center
        font-weight 100
        font-size 40px
        line-height 125px
        text-shadow 1px 1px 2px rgba(169, 154, 154, 0.32)